doctype html
html
	head
		meta(charset='utf-8')
		title#title ZeroSide: Anonymous File Sharing

		link(rel='apple-touch-icon', sizes='57x57', href='/assets/images/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/assets/images/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/assets/images/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/assets/images/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/assets/images/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/assets/images/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/assets/images/favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/favicon/favicon-16x16.png')
		link(rel='manifest', href='/assets/images/favicon/manifest.json')
		meta(name='msapplication-TileColor', content='#44a6ca')
		meta(name='msapplication-TileImage', content='/assets/images/favicon/ms-icon-144x144.png')
		meta(name='theme-color', content='#44a6ca')

		link(href='/assets/css/bulma.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body(style='min-height: 100vh')
		section.hero.is-medium.is-info
			.hero-body
				.container
					h1.title.is-1
						| ZeroSide
					h2.subtitle
						| Open Source &amp; Anonymous File Sharing

		br
		div.container

			center
				script(src="http://www.pubovore.com/12837-728x90.js")
				br

			.columns
				.column.is-one-third
					article.message.is-info
						.message-header
							p Features
						.message-body
							| ZeroSide offer theres features :
							dl
								li Your IP is not saved, there is no geolocation
								li Upload up to 10GB per file!
								li You can choose expiration time (30min to 7days)
								li Customize your download URL
								li Get stats on your uploads
								li Full API for apps

					a(href='/').button.is-warning.is-large.is-fullwidth Discover ZeroSide
					br

					article.message.is-primary
						.message-header
							p Informations
						.message-body
							p.
								ZeroSide is also open source on GitHub!
								This one is developped in PHP :)
								<br><br>
								Big thanks to:
								<dl>
									<li>Our Telegram Group for testing</li>
								</dl>
				.column.has-text-centered

					h2.title.is-2 #{file_name}
					hr
					h4.title Size: #{file_size}
					br
					form(action='/api/download', method='post')
						input(type='hidden', name='download_uid', value=temp_url)
						button.button.is-danger(type='submit') Download now

			center
				script(src="http://www.pubovore.com/12837-728x90.js").has-text-centered

		footer.footer
			.container
				.content.has-text-centered
					p
						strong ZeroSide
						|  by 
						a(href='https://github.com/l-x-0x7') LXT
						br
						| The source code is licensed 
						a(href='http://opensource.org/licenses/mit-license.php') MIT
					p
						a.icon(href='https://github.com/ZeroSide-Project/zeroside')
							i.fa.fa-github
