doctype html
html
	include compositions/header.pug
	body(style='min-height: 100vh')
		section.header
			img(src='/assets/images/favicon/favicon-96x96.png')
			h1 ZeroSide
		
		.push
			.grid
				.unit.one-third.center
					img.icon(src='/assets/images/icons/cloud.svg')
					p.paragraph.big Cloud
					p.paragraph Upload up to 10GB per file
				.unit.one-third.center
					img.icon(src='/assets/images/icons/vm.svg')
					p.paragraph.big Privacy
					p.paragraph We don't save IP and location
				.unit.one-third.center
					img.icon(src='/assets/images/icons/lock.svg')
					p.paragraph.big Secure
					p.paragraph By community for community
		
		section.form
			.push
				div#notibox
				br

				.grid
					.unit.one-third.center
						p.paragraph.small Download URI
						input(placeholder='e.g.: https://www.zeroside.co/mydownloadurl', onkeyup="check(this.value)")#downurl
						p.help#message
					
					.unit.one-third.center
						p.paragraph.small Expiration
						select#expiration
							option(value="0.01") 1 minute
							option(value="0.30") 30 minutes
							option(value="1") 1 hours
							option(selected, value="24") 1 day (24h)
							option(value='48') 2 days (48h)
							option(value='168') 7 days (168h)
					
					.unit.one-third.center
						p.paragraph.small Select file
						input(type='file', style="display: none")#actual-upload
						button#upload Choose a file to Upload
				
				br
				.center
					button.s#submit Submit !
		
		.push
			.center
				p.paragraph
					a(href='https://github.com/ZeroSide-Project/') ZeroSide
					|  by 
					a(href='https://github.com/l-x-0x7') LX

		script(src='/assets/js/zeroside.js')
		//include compositions/footer.pug
