br
footer.footer
    .container
    	.content.has-text-centered
    		p
    			strong ZeroSide
    			|  by 
    			a(href='https://github.com/l-x-0x7') LXT
    			br
    			| The source code is licensed 
    			a(href='http://opensource.org/licenses/mit-license.php') MIT
    		p
    			a.icon(href='https://github.com/ZeroSide-Project/zeroside')
    				i.fa.fa-github