article.message.is-info
	.message-header
		p Features
	.message-body
		| ZeroSide offer theres features :
		dl
			li Your IP is not saved, there is no geolocation
			li Upload up to 10GB per file!
			li You can choose expiration time (1min to 7days)
			li Customize your download URL
			li Get stats on your uploads
			li Full API for apps

article.message.is-primary
	.message-header
		p Informations
	.message-body
		p.
			ZeroSide is also open source on GitHub!
			This one is developped in PHP :)
			<br><br>
			Big thanks to:
			<dl>
				<li>Our Telegram Group for testing</li>
			</dl>